@media (min-width: 640px) {
   .custom-modal .modal-dialog {
        max-width: 610px;
    }
}

@media (min-width: 768px) {
    .createAccount .modal-dialog {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .createAccount .modal-dialog {
        max-width: 900px;
    }
}

@media (min-width: 1366px) {
    .createAccount .modal-dialog {
        max-width: 1200px;
    }
}
@media (min-width: 1440px) {
    
}
@media (min-width: 1580px) {
    
}
@media (min-width: 1680px) {
    
}

/* max width  */
@media (max-width: 1680px) {
   
}

@media (max-width: 1440px) {
    .section-title h2 {
        font-size: 36px;
    }
    .banner-area .banner-content h1 {
        font-size: 42px;
    }
    .banner-area .banner-content p {
        font-size: 18px;
    }
    .brands-area .brands-inner {
        gap: 30px;
    }
    .primary-btn {
        font-size: 16px;
    }
    .bordered-btn {
        font-size: 16px;
    }
    .banner-area {
        padding: 200px 0 150px;
    }
    .single-idos-slider .idos-head .profile-wrap .idos-profile-avatar {
        height: 80px;
        width: 80px;
        min-width: 80px;
    }
    .single-idos-slider .idos-head .profile-wrap .profile-content h4 {
        font-size: 24px;
    }
    .single-idos-slider .idos-head .profile-wrap .profile-content a {
        font-size: 14px;
    }
    .single-idos-slider .idos-head .head-desc {
        font-size: 14px;
    }
    .single-idos-slider .solid-btn {
        font-size: 14px;
    }
    .single-idos-slider .idos-info .single-info p {
        font-size: 14px;
    }
    .single-idos-slider .idos-info .single-info {
        grid-template-columns: 4fr 1fr 7fr;
        gap: 10px;
    }
    .login-area .modal-content .btn-wrap .google-btn {
        font-size: 16px;
    }
    .table {
        display: block;
        overflow-x: scroll;
    }
    .table td.user-name {
        min-width: 150px;
    }
    .table td.refer {
        min-width: 150px;
    }
    .table .parent-user {
        min-width: 150px;
    }
    .table .current-level {
        vertical-align: middle;
        text-align: center;
        min-width: 120px;
    }
}

@media (max-width: 1399px) {
    .timeline-wraper .single-timeline-item .arrow {
        left: calc(40% - 29px);
    }
    .timeline-wraper .single-timeline-item.right-item .arrow {
        right: calc(40% - 38px);
    }
    .login-area {
        padding: 150px 0 0;
    }
    .presell-btn-wrap {
        gap: 20px;
    }
    .timer-wraper .timer-inner span {
        font-size: 40px;
        height: 60px;
        width: 40px;
    }
}

@media (max-width: 1200px) {
    .gift-area:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: #000;
        z-index: -1;
        opacity: .4;
        border-radius: 20px;
    }
    .presell-btn-wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 1199px) {
    .header-area {
        background: transparent;
        padding: 15px 0;
    }
    .sticky-wrapper.is-sticky .header-area {
        padding: 15px 0;
    }
    .header-area.active {
        background: #262643;
    }
    .header-area.active .container {
        background: #262643;
    }
    .header-area .navbar .navbar-collapse {
        margin-top: 0;
    }
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        cursor: pointer;
        background: linear-gradient(to right, #1CD592, #2683ED);
        padding: 10px;
        border-radius: 5px;
    }
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
    .navbar-toggler span:last-child {
        margin-bottom: 0;
    }
    .navbar-toggler[aria-expanded=false] span:nth-child(2) {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded=true] span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded=true] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }
    .navbar-toggler[aria-expanded=true] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }
    .header-area .navbar .navbar-nav .nav-item {
        margin-right: 0;
        text-align: center;
    }
    .header-area .navbar .navbar-nav .nav-item a {
        border-bottom: 1px solid #dddddd3b;
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-size: 16px;
    }
    .navbar-nav {
        padding-top: 15px;
    }
    .header-area .navbar .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header-area .navbar .header-btns li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .header-btn-wrap {
        text-align: center;
    }
    .header-area .navbar .navbar-nav .nav-item a {
        line-height: 30px;
    }
    .sticky-wrapper.is-sticky .header-area .navbar .navbar-nav .nav-item a {
        line-height: 30px;
    }
    .header-btn.navbar-nav {
        justify-content: center;
        display: flex;
    }
    .header-btn.navbar-nav li {
        text-align: center;
    }
    .header-area .navbar .container {
        border-bottom: none;
        padding: 10px 15px;
    }
    .sticky-wrapper.is-sticky .header-area .navbar .container {
        padding: 0 15px;
    }
    .header-area .navbar .header-btn-wrap .primary-btn {
        min-width: 200px;
    }
    .footer-area .footer-top .footer-widget .footer-title {
        font-size: 18px;
    }
    .about-area .about-content .about-shape-line {
        display: none;
    }
    .timeline-wraper .single-timeline-item .arrow {
        display: none;
    }
    .timeline-wraper .single-timeline-item:not(:last-child):before {
        border-radius: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner {
        margin-right: 30px;
        gap: 20px;
        padding-top: 50px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner .circle-step {
        top: -3px;
        height: 30px;
        width: 30px;
        min-width: 30px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner .circle-step:before {
        height: 12px;
        width: 12px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner .single-timeline-head h3 {
        font-size: 24px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner h4 {
        font-size: 20px;
    }
    .timeline-wraper .single-timeline-item .timeline-inner ul li {
        font-size: 16px;
    }
    .timeline-wraper .single-timeline-item.right-item .timeline-inner {
        margin-left: 50px;
        padding-top: 0;
    }
    .newsletter-area .newsletter-form button {
        font-size: 16px;
    }
    .banner-area {
        padding: 150px 0 120px;
    }
    .brands-area {
        padding: 80px 0;
    }
    .about-area .about-shape {
        display: none;
    }
    .about-area {
        padding-bottom: 80px;
    }
    .idos-area {
        padding: 80px 0;
    }
    .idos-arrows-wrap {
        margin-top: 60px;
    }
    .support-area {
        padding: 80px 0;
    }
    .roadmap-area .roadmap-shape-left, .roadmap-area .roadmap-shape-top-right, .roadmap-area .roadmap-shape-bottom-right {
        display: none;
    }
    .about-area .about-content {
        padding-left: 0;
    }
    .newsletter-area {
        background: url(../img/bg/newsletter-bg.png) center center no-repeat;
        background-size: cover;
        padding: 80px 0;
    }
    .roadmap-area {
        padding-bottom: 80px;
    }
    .footer-area .footer-top {
        padding-bottom: 80px;
    }
    .breadcrumb-area {
        padding: 150px 0 80px;
    }
    .breadcrumb-area .breadcrumb-content h1 {
        font-size: 42px;
    }
    .footer-area {
        padding: 35px 0 35px;
    }

    .header-bar .header-bar-left {
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    .verify-status-wrap .verify-status-bar {
        flex-direction: column;
        gap: 20px;
    }
    .gift-area {
        padding: 80px 20px;
    }
    .header-bar .header-bar-left h4 {
        width: 100%;
    }
    .header-bar .header-bar-left .serch-bar-side {
        width: 100%;
    }

    .coin-distribution-area .title {
        font-size: 36px;
    }
}


@media (max-width: 991px) {
    .footer-area .footer-top .footer-widget.footer-about {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer-area .footer-bottom .copyright {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-area .footer-bottom .footer-menu {
        justify-content: center;
    }
    .about-thumb {
        margin-bottom: 30px;
    }   
    .idos-area .section-title {
        text-align: center;
        margin-bottom: 30px;
    } 
    .idos-area .nav-tabs {
        justify-content: center;
        margin-bottom: 50px;
    }
    .timeline-wraper .single-timeline-item:not(:last-child):before {
        display: none;
    }
    .timeline-wraper .single-timeline-item .timeline-inner {
        margin-right: 0;
        gap: 20px;
        padding-top: 0;
        margin-bottom: 50px;
    }
    .timeline-wraper .single-timeline-item.right-item .timeline-inner {
        margin-left: 0;
        padding-top: 0;
        justify-content: flex-start;
    }
    .sidebar {
        border-radius: 0 15px 15px 0;
        margin-left: 0;
        margin-top: 0;
        left: -216px;
    }
    .sidebar .logo-wrap {
        padding: 30px 0 40px;
    }
    .main-content {
        width: 100%;
        padding: 15px;
    }
    .main-dashboard {
        padding-left: 0;
    }
    .dashboard-banner .db-banner-content h3 {
        font-size: 28px;
    }
    .donation-status-wrap .donation-status-content h3 {
        font-size: 28px;
    }
    .coming-soon {
        padding: 80px 20px;
    }
    .header-bar .header-bar-left .menu-collapse-trigger {
        display: flex;
    }
    .sidebar.active {
        left: 0;
    }
    .sidebar .fa-times {
        display: flex;
    }
}

@media (max-width: 767px) {
    .login-area {
        padding: 150px 0 80px;
    }
    .header-area .navbar .navbar-brand img {
        max-width: 180px;
    }
    .banner-area .banner-content .banner-btns {
        flex-wrap: wrap;
    }
    .dashboard-banner {
        padding: 15px;
    }
    .db-banner-content {
        margin-bottom: 15px;
    }
    .header-bar .header-bar-right {
        justify-content: flex-start;
        margin-top: 20px;
    }
    .wallet-address-area .wallet-address-bar {
        font-size: 14px;
    }
    .paginate-table .pagination {
        justify-content: center;
        margin-top: 20px;
    }
    .paginate-table .dataTables_info {
        text-align: center;
    }
    .footer-area {
        background: #040D17;
    }
}

@media (max-width: 575px) {
    .db-information .single-info-bar {
        height: auto;
        flex-direction: column;
        gap: 15px;
    }
    .header-bar .header-bar-right .header-btn {
        font-size: 12px;
        padding: 8px 15px;
    }
    .verify-user-wrap {
        margin-bottom: 20px;
    }
    .coming-soon h2 {
        letter-spacing: 3px;
    }
    .presell-area .big-note p {
        font-size: 16px;
    }
    .presell-area .big-note {
        margin-bottom: 40px;
    }
    .presell-area .total-supply p {
        font-size: 16px;
    }
    .timer-wraper .timer-inner .label {
        font-size: 14px;
    }
    .timer-wraper .timer-inner span {
        font-size: 26px;
        height: 40px;
        width: 25px;
        margin: 0 2px;
    }
    .timer-wraper .timer-inner {
        gap: 10px;
    }
    .qr-code-area .payment-wrap .single-payment-item {
        flex-direction: column;
        gap: 5px;
    }
    .qr-code-area .payment-wrap .single-payment-item h5 {
        width: 100%;
    }
    .qr-code-area .payment-wrap .single-payment-item .right-content {
        width: 100%;
        padding: 18px;
    }
}

@media (max-width: 425px) {
    .login-area .modal-content .modal-form-head h3 {
        font-size: 32px;
    }
    .login-area .modal-content {
        padding: 40px 15px;
        border-radius: 20px;
    }
    .login-area .modal-content .btn-close {
        right: 15px;
        top: 15px;
    }
    .verify-status-wrap .verify-status-bar .btn-part {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    
}